<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
</head>
<body>

    <div class="jumbotron p-5 text-center">
        <h1 id="title" class="display-4 pb-4 pt-4 " style="background-color: #ededed !important; border-radius: 20px;">Character Builder</h1>
    </div>
    <div class="bottomleft">
        <bold>A EECS 448 Group 15 Production</bold><br>
    </div>

    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h3 id="tools_header" class="mb-3 text-center">Tools</h3>
                <div class="btn-toolbar" role="toolbar" style="justify-content: center; display: flex;">
                    <div class="btn-group m-2" role="group">
                        <a href="generator" id="generate" class="btn btn-success btn-lg">Generate a Character!</a>
                    </div>
                    <div class="btn-group m-2" role="group">
                        <a href="customization" id="cust" class="btn btn-primary btn-lg">Custom Character</a>
                    </div>
                    <div class="btn-group m-2" role="group">
                        <a href="information" id="info" class="btn btn-secondary btn-lg">Information</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type=text/javascript src="{{url_for('static', filename='popper.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='bootstrap.min.js') }}"></script>

</body>
</html>