body {
  background-image: url('../cityBackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h2 {
 font-size: 80px;
 font-family: "Copperplate", Fantasy;
 background-color: lightslategrey;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 30px;
}

.rightdisplay {
      position: absolute;
      right: 16px;
}

.button {
  border: none;
  color: white;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  margin: 8px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  display: block;
}

.button1 {
  background-color: lightslategrey;
  color: black;
  border: 4px solid black;
}

.button1:hover {
  background-color: mediumseagreen;
  color: black;
}

.img {
    padding: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: lightslategrey;
}

.img:hover {
    padding: 5px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: lightslategrey;
}

.p2 {

}

h3 {
    color: #ff4411;
    font-size: 25px;
    font-family: 'Signika', sans-serif;
}

.col-md-8 {
    padding-right: 50px;
    background-color: #ededed;
    border: 4px solid black;
}
